:root {
    --grey-900: #141414;
    --grey-800: #1f1f1f;
    --grey-700: #333333;
    --green: #c4f82a;
    --white: #ffffff;
}

@font-face {
    font-family: 'Inter Bold';
    src: url('./assets/fonts/static/Inter-Bold.ttf');
}

@font-face {
    font-family: 'Inter Regular';
    src: url('./assets/fonts/static/Inter-Regular.ttf');
}

.body {
    background: #141414;
    margin: auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card {
    margin: auto;
    padding: 40px;
    background: #1f1f1f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 384px;
    border-radius: 12px;
    gap: 24px;
}

@media screen and (max-width: 440px) {
    .card {
        max-width: 327px;
        padding: 24px;
    }
    
}

.user {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: center;
}

.name {
    color: #ffffff;
    margin: 0 auto;
    font-family: 'Inter Bold';
}

.avatar {
    width: 88px;
    height: 88px;
    border-radius: 50%;
}

.title {
    margin: 0;
    font-family: 'Inter Bold';
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0px;
}

.location {
    color: #c4f82a;
    margin: 0;
    font-family: 'Inter Bold';
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
}

.about {
    color: #ffffff;
    margin: 0;
    font-family: 'Inter Regular';
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.social {
    background: #333333;
    color: #ffffff;
    font-family: 'Inter Bold';
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
    width: 304px;
    height: 45px;
    border-radius: 8px;
    text-decoration: none;
    border: none;
    transition: all 1s ease-in-out;
    text-align: center;
}

.social:hover {
    background: #c4f82a;
    cursor: pointer;
    color: #141414;
}

.attribution {
    color: #ffffff;
    font-family: 'Inter Regular';
    margin: 40px;
}